/*styles*/

 .body {font-family:'Courier New', Courier, monospace; background-color: azure;}

.title {font-weight: bold;font-size: 100px;text-align: center;background-color:rgb(27, 189, 189)}

.list {text-align: center;}